{% load staticfiles %}
{% load compress %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/modernizr-2.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-submenu/dist/js/bootstrap-submenu.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/cldr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/cldr/event.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/cldr/supplemental.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/cldr/unresolved.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/globalize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/globalize/message.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/globalize/number.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/globalize/currency.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/globalize/date.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/dx.web.js' %}"></script>
<script type="text/javascript" src="{% static 'devex/js/angular-locale_es-mx.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/alertify-js/build/alertify.min.js' %}"></script>
{% endcompress %}