{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-submenu/dist/css/bootstrap-submenu.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'devex/css/dx.spa.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'devex/css/dx.common.css' %}" />
<link rel="dx-theme" data-theme="generic.light" href="{% static 'devex/css/dx.light.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/alertify-js/build/css/alertify.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/alertify-js/build/css/themes/default.min.css' %}" />